/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-alpha-light: MEDIUMSLATEBLUE;
    --color-alpha: SLATEBLUE;

    --color-neutral-xxxx-light: #ffffff;
    --color-neutral-xxx-light: #f0f0f7;
    --color-neutral-xx-light: #ebebf2;
    --color-neutral-x-light: #d7dae2;
    --color-neutral-light: #bcbccb;
    --color-neutral: #a5a4bf;
    --color-neutral-dark: #808495;
    --color-neutral-x-dark: #4d4f5c;
    --color-neutral-xx-dark: #43425d;
    --color-neutral-xxx-dark: #3b3b53;
    --color-neutral-xxxx-dark: #000000;

    --color-red: #ff6565;
    --color-green: #3cc480;
    --color-blue: #3b86ff;
    --color-purple: #a3a0fb;
    --color-cyan: #54d8ff;

    /* colors */
    --global-color-alpha-light: #4f95ff;
    --global-color-alpha: #3385ff;
    --global-color-alpha-dark: #2e77e6;
    --global-color-alpha-x-dark: #1b4186;
    --global-color-alpha-transparent: #3385ffbf;
    --global-color-alpha-x-transparent: #3385ff4d;

    --global-color-neutral-xxxx-light: #f5f6fa;
    --global-color-neutral-xxx-light: #e2e3e7;
    --global-color-neutral-xx-light: #caccd4;
    --global-color-neutral-x-light: #b5b6c0;
    --global-color-neutral-light: #a0a1ad;
    --global-color-neutral: #8b8c9a;
    --global-color-neutral-dark: #757787;
    --global-color-neutral-x-dark: #606274;
    --global-color-neutral-xx-dark: #4b4c60;
    --global-color-neutral-xxx-dark: #35374d;
    --global-color-neutral-xxxx-dark: #20223a;

    /* page colors */
    --global-page-color: var(--global-color-neutral-xxxx-dark);
    --global-page-backgroundColor: var(--global-color-neutral-xxxx-light);
    --global-page-secondaryTextColor: var(--global-color-neutral-xx-dark);

    /* input stuff */
    --global-input-backgroundColor: White;
    --global-input-color: var(--global-color-neutral-xxxx-dark);
    --global-input-borderColor: var(--global-color-neutral-xxx-light);
    --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
    --global-input-focus-borderColor: var(--global-color-alpha);
    --global-input-boxShadow: 0 0 0 3px var(--global-color-alpha-x-transparent);

    /* border stuff */
    --global-borderRadius: 3px;
    --global-borderWidth: 1px;

    /* transitions */
    --global-transitionTiming-alpha: 0.1s ease-out;
    --global-transitionTiming-fast: 0.075s ease-out;

    /* Shadows */
    --global-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

    /* Whitespace */
    --global-baseline: calc(1rem / 3);
    --global-whitespace-xxs: var(--global-baseline); /* 5px */
    --global-whitespace-xs: calc(var(--global-baseline) * 2); /* 10px */
    --global-whitespace-sm: calc(var(--global-baseline) * 3); /* 15px */
    --global-whitespace-md: calc(var(--global-baseline) * 4); /* 20px */
    --global-whitespace-lg: calc(var(--global-baseline) * 5); /* 25px */
    --global-whitespace-xl: calc(var(--global-baseline) * 6); /* 30px */

    /* border radius */

    /* transitions */
    --transition-alpha: 0.1s;

    --pi: 3.14159265359;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 93.75%;
    line-height: 1.5;
    font-family: "Source Sans Pro", Helvetica, arial, sans-serif;
    color: var(--color-neutral-xxx-dark);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-neutral-xxx-light);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--color-alpha);
    color: var(--color-neutral-xxx-light);
    text-shadow: none;
}

::selection {
    background: var(--color-alpha);
    color: var(--color-neutral-xxx-light);
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
    line-height: calc(var(--global-baseline) * 10);
    margin: 0 0 var(--global-whitespace-md);
}

h2 {
    font-size: 2rem;
    line-height: calc(var(--global-baseline) * 8);
    margin: 0 0 var(--global-whitespace-lg);
}

h3 {
    font-size: 1.5rem;
    line-height: calc(var(--global-baseline) * 6);
    margin: 0 0 var(--global-whitespace-md);
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(var(--global-baseline) * 5);
    margin: 0 0 var(--global-whitespace-md);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace-md);
}

ul,
ol {
    padding-left: var(--global-whitespace-md);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0 0 var(--global-whitespace-md);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: var(--global-whitespace-sm);
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 var(--global-whitespace-md);
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral-light);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: var(--global-whitespace-md) var(--global-whitespace-md) 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: App
    ---
    Website container
*/

.c-app {
    min-height: 100vh;
    --c-app__topbar-height: calc(var(--global-baseline) * 14);
}

/*
    Component: Logo container
    ---
    Website logo container
*/

.c-app__logo {
    background-color: var(--color-neutral-xxx-dark);
    padding: var(--global-whitespace-md) var(--global-whitespace-lg);

    display: flex;
    align-items: center;
}

.c-logo {
    font-size: calc(var(--global-baseline) * 3);
    line-height: calc(var(--global-baseline) * 4);
    margin: 0;
    color: var(--color-neutral-xxxx-light);
    font-weight: bold;
    cursor: pointer;
}

/*
    Component: Sidebar
    ---
    Website sidebar
*/

.c-app__sidebar {
    display: none;
    background-color: var(--color-neutral-xx-dark);
}

.c-main-nav {
}

.c-main-nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.c-main-nav__list-item {
    margin-bottom: var(--global-baseline);
    position: relative;
}

.c-main-nav__list-item--is-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.c-main-nav__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-neutral-xxxx-light);

    padding: var(--global-whitespace-md) var(--global-whitespace-lg);

    border-left: var(--global-baseline) solid var(--color-alpha);
    transform: translateX(calc(var(--global-baseline) * -1));
    width: calc(100% + var(--global-baseline));

    /* trager als je hover verlaat */
    transition: transform 0.5s ease;
}

.c-main-nav__link:hover {
    transform: translateX(0);
    background-color: var(--color-neutral-xxx-dark);

    /* rapper wanneer je erover hovert */
    transition-duration: 0.1s;
}

.c-main-nav__link:visited {
    color: var(--color-neutral-xxxx-light);
}

.c-main-nav__link--selected {
    transform: translateX(0);
    background-color: var(--color-neutral-xxx-dark);
}

.c-main-nav__icon {
    fill: var(--color-neutral);
    width: calc(var(--global-baseline) * 3);
    height: calc(var(--global-baseline) * 3);
    margin: 0 var(--global-whitespace-xs) 0 0;
    cursor: pointer;
}

/*
    Component: Topbar
    ---
    Website topbar
*/

.c-app__topbar {
    display: none;

    background-color: var(--color-neutral-xxxx-light); /* white */
    box-shadow: var(--global-shadow);
    position: relative; /* Higher on the stacking order => Shadow falls on the main section */
}

.c-topbar__search-container {
    display: flex;
    align-items: center;
    margin: 0;
    width: 50%;
}

.c-topbar__options {
    display: flex;
    align-items: center;
    gap: var(--global-whitespace-sm);
}

.c-topbar__options__icons {
    display: flex;
    align-items: center;
    gap: var(--global-whitespace-xl);
}

.c-topbar__options__separator {
    width: calc(var(--global-baseline) * 0.5);
    height: var(--global-whitespace-lg);
    background-color: var(--color-neutral-xx-light);
}

.c-topbar__options__user-container {
    position: relative;
    width: 100%;
}

.c-topbar__options__user {
    display: flex;
    align-items: center;
    gap: var(--global-whitespace-xs);

    cursor: pointer;
}

.c-user__name {
    font-size: 1rem;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.c-user__dropdown-icon {
    display: flex;
    align-items: center;
    transform-origin: center;
    transition: transform var(--global-transitionTiming-alpha);
}

.c-user__dropdown-icon > .c-main-nav__icon {
    margin: 0;
    width: 0.8rem;
    height: 0.8rem;
}

.c-user__avatar {
    width: calc(var(--global-baseline) * 8);
    height: calc(var(--global-baseline) * 8);
    border-radius: calc(var(--global-baseline) * 4);
    background-color: var(--color-neutral-xx-light);
}

.c-user-dropdown {
    display: block;
    position: absolute;
    z-index: 100;

    top: 110%;
    left: 0;

    background-color: var(--color-neutral-xxxx-light);
    border-radius: calc(var(--global-baseline) * 1.5);
    box-shadow: var(--global-shadow);

    height: auto;
    max-height: 0;

    opacity: 0;
    padding: 0;

    overflow-y: hidden;
    border: var(--global-borderWidth) solid var(--color-neutral-xx-light);

    transition: all 0.1s ease;
}

/* :focus => when clicked. When clicking out of the label, focus will be gone and so will the dropdown menu */
.c-user-dropdown__input:focus ~ .c-user-dropdown {
    height: auto;
    max-height: 100vh;
    opacity: 1;
}

.c-user-dropdown__input:focus + .c-topbar__options__user > .c-user__dropdown-icon {
    transform: rotate(90deg);
}

.c-user-dropdown--force-show {
    height: auto;
    max-height: 100vh;
    opacity: 1;
}

.c-user-dropdown__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.c-user-dropdown__link {
    display: block;
    color: var(--color-neutral-xxx-dark);
    text-decoration: none;

    padding: var(--global-whitespace-sm) var(--global-whitespace-lg);
    /* width: calc(100% + var(--global-baseline)); */
}

.c-user-dropdown__link:hover {
    background-color: var(--color-neutral-xxx-light);
}

.c-user-dropdown__link:visited {
    color: var(--color-neutral-xxx-dark);
}


/*
    Component: Main
    ---
    Website main content
*/

.c-app__main {
    background-color: var(--color-neutral-xxx-light);
    padding: var(--global-whitespace-xl) calc(var(--global-baseline) * 15) 0 calc(var(--global-baseline) * 15); /* 75px links rechts 30px boven */
}

/* 
    Scroll behaviour 1:
    Hier komt de main content effectief onder de topbar
    Maar de scrollbar zelf gaat tot de hele hoogte van het scherm

    Enkel cool als de topbar semi transparant is
*/

/*
.c-app__topbar,
.c-app__logo {
    position: sticky;
    top: 0;
}

.c-app__sidebar {
    position: sticky;
    top: var(--c-app__topbar-height);
    height: calc(100vh - var(--c-app__topbar-height));
    overflow: auto;
}
*/

/*
    Scroll behavior 2:
    voelt beetje als een app
*/

.c-app__sidebar,
.c-app__main {
    height: calc(100vh - var(--c-app__topbar-height));
    overflow-y: auto;
    overflow-x: hidden;
}

@media (min-width: 992px) {
    .c-app {
        display: grid;
        /*
            Elke spatie maakt een nieuwe kolom
            1fr staat voor de beschikbare ruimte
            1 FRACTION UNIT
        */
        grid-template-columns: 17.33rem 1fr;
        grid-template-rows: var(--c-app__topbar-height) 1fr;
        gap: 0;
    }

    .c-app__topbar,
    .c-app__sidebar {
        display: block;
    }

    .c-app__topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--global-whitespace-md);
    }
}

/* Component dashboard */

.c-dashboard {
    display: grid;
    grid-gap: var(--global-whitespace-xl); /* 30px */
    margin-bottom: var(--global-whitespace-md);
}

.c-dashboard__item {
    background-color: var(--color-neutral-xxxx-light);
    box-shadow: var(--global-shadow);
    padding: var(--global-whitespace-md);
    border-radius: calc(var(--global-baseline) * 1.5);
}

.c-dashboard__item p {
    margin: 0;
}

@media (min-width: 992px) {
    .c-dashboard {
        grid-template-columns: repeat(12, 1fr);
        /* rows hoef je niet in te stellen, die krijgen hun hoogte dynamisch */
    }

    .c-dashboard__item {
        /* Default = Volledige breedte */
        /* grid-column: span 12; */
        /* 1 tot -1 => van begin tot eind, los van het aantal kolommen */
        grid-column: 1 / -1;
    }
}

.c-card {
}

.c-card__title {
    font-size: 1.2rem;
}

.c-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-card__custom-svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-custom-chart {
    width: 15rem;
    height: 15rem;
    transform-origin: center;
}

.c-custom-chart__circle {
    --r: 50px;
    --stroke-width: 10px;

    transform-origin: center;
    stroke: var(--color-neutral-xx-light);
    stroke-width: var(--stroke-width);
    fill: none;
}

.c-custom-chart__circle--filled {
    --percent: 75;
    /* stroke is gecentreerd => /2 */
    --omtrek: calc(calc(var(--r) - var(--stroke-width) / 2) * 2 * 3.141592);

    --filled: calc(var(--percent) / 100 * var(--omtrek));
    --not-filled: calc(var(--omtrek) - var(--filled));

    stroke: var(--color-purple);
    stroke-dasharray: var(--filled) var(--not-filled);
    stroke-dashoffset: 0;

    animation: chartanimation 1s ease 0 1;

    /* transition: stroke-dashoffset 0.3s ease; */
    transform: rotate(-90deg);
}

/*
    Component: Forms
    ---
    Everything form related here
*/

.c-form-field--option {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

/*
      Component: Input
      ---
      Class to put on all input="text" like form inputs
  */

.c-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: var(--global-borderWidth) solid var(--global-input-borderColor);
    border-radius: var(--global-borderRadius);
    color: var(--global-input-color);
    background-color: var(--global-input-backgroundColor);
    font-family: inherit;
    font-size: 1rem;
    line-height: calc(var(--global-baseline) * 3);
    padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
    outline: none;
    transition: border var(--global-transition-timing-alpha);
}

.c-input--search {
    border: none;
    outline: none;
    padding-left: var(--global-whitespace-sm);
}

.c-input:hover {
    border-color: var(--global-input-hover-borderColor);
}

.c-input:focus,
.c-input:active {
    border-color: var(--global-input-focus-borderColor);
    box-shadow: var(--global-input-boxShadow);
}

/* option input for checkboxes and radio buttons */

.c-option {
    margin-right: var(--global-whitespace-sm);
}

.c-option-list {
    margin-bottom: var(--global-whitespace);
}

.c-option-list__item {
    margin-bottom: calc(var(--global-whitespace) / 2);
}

.c-custom-option__symbol {
    opacity: 0;
    transform: scale(0.5);
    display: block;

    transition: var(--global-transitionTiming-fast);
}

.c-custom-option {
    display: flex;
}

.c-custom-option__fake-input {
    width: 1rem;
    height: 1rem;
    border: var(--global-borderWidth) solid var(--global-input-borderColor);
    margin-right: var(--global-whitespace-sm);
    /* box-shadow: var(--global-input-boxShadow); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.c-custom-option:hover .c-custom-option__fake-input {
    border-color: var(--global-color-alpha-transparent);
    box-shadow: var(--global-input-boxShadow);

    /* border-width: calc(var(--global-borderWidth) * 2); */
}

.c-option--hidden:active + .c-custom-option .c-custom-option__fake-input,
.c-option--hidden:focus + .c-custom-option .c-custom-option__fake-input {
    /* werkt als ik klik, niet als ik tab */
    border-color: var(--global-color-alpha-transparent);
    border-width: calc(var(--global-borderWidth) * 2);
    box-shadow: var(--global-input-boxShadow);
}

.c-option--hidden:active + .c-custom-toggle .c-custom-toggle__fake-input,
.c-option--hidden:focus + .c-custom-toggle .c-custom-toggle__fake-input {
    /* werkt als ik klik, niet als ik tab */
    border-color: var(--global-color-alpha-transparent);
    border-width: calc(var(--global-borderWidth) * 2);
    box-shadow: var(--global-input-boxShadow);
}

.c-custom-option__fake-input--checkbox {
    border-radius: var(--global-borderRadius);
}

.c-custom-option__fake-input--radio {
    border-radius: 0.5rem;
}

.c-custom-option__fake-input--checkbox .c-custom-option__symbol {
    width: calc(var(--global-baseline) * 2);
    height: calc(var(--global-baseline) * 2);
    fill: var(--global-color-alpha);
}

.c-custom-option__fake-input--radio .c-custom-option__symbol {
    width: var(--global-baseline);
    height: var(--global-baseline);
    background-color: var(--global-color-alpha);
    border-radius: calc(var(--global-baseline) * 0.5);
}

.c-option--hidden:checked + .c-custom-option .c-custom-option__symbol {
    opacity: 1;
    transform: scale(1);
}

.c-custom-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;

    width: 100%;

    --custom-toggle-width: var(--global-whitespace-xl);
    --custom-toggle-height: var(--global-whitespace-md);

    --custom-toggle__symbol-offset: var(--global-whitespace-xs);
    --custom-toggle__symbol-size: calc(var(--custom-toggle-height) - var(--custom-toggle__symbol-offset));

    --custom-toggle__symbol-endPos: calc(var(--custom-toggle-width) - var(--custom-toggle__symbol-size) - var(--custom-toggle__symbol-offset));
    --custom-toggle__symbol-scaleFactor: 0.2;

    --custom-toggle-backgroundColor: var(--global-color-neutral-xxxx-light);
    --custom-toggle__symbol-backgroundColor: white;
    --custom-toggle__symbol--enabled-backgroundColor: var(--global-color-alpha);
    --custom-toggle-borderColor: var(--global-input-borderColor);

    transition: var(--global-transitionTiming-alpha);
}

.c-toggle__label--inverted {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.c-toggle__label--inverted .c-custom-toggle__fake-input {
    margin-right: 0;
}

.c-toggle-list {
    margin-bottom: var(--global-whitespace);
    --c-toggle-list-whitespace: calc(var(--global-whitespace-xs) * 2);
}

.c-toggle-list__item {
    margin-bottom: var(--c-toggle-list-whitespace);
}

.c-toggle-list__item + .c-toggle-list__item {
    padding-top: var(--c-toggle-list-whitespace);
    border-top: var(--global-borderWidth) solid var(--global-input-borderColor);
}

.c-custom-toggle__fake-input {
    display: block;
    width: var(--custom-toggle-width);
    height: var(--custom-toggle-height);
    border-radius: calc(var(--custom-toggle-width) / 2);
    border: var(--global-borderWidth) solid var(--custom-toggle-borderColor);
    margin-right: var(--global-whitespace-sm);
    background-color: var(--custom-toggle-backgroundColor);
    /* box-shadow: var(--global-input-boxShadow); */

    display: flex;
    align-items: center;
}

.c-custom-toggle__fake-input::after {
    content: "";
    display: block;

    background-color: var(--custom-toggle__symbol-backgroundColor);

    width: var(--custom-toggle__symbol-size);
    height: var(--custom-toggle__symbol-size);
    margin-left: calc(var(--custom-toggle__symbol-offset) / 4);

    /* border: var(--global-borderWidth) solid var(--global-input-borderColor); */
    border-radius: calc(var(--custom-toggle__symbol-size) / 2);
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.05);

    transition: all var(--global-transitionTiming-fast);
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
    transform: translateX(var(--custom-toggle__symbol-endPos));
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input {
    background-color: var(--custom-toggle__symbol--enabled-backgroundColor);
    /* border: calc(var(--global-borderWidth) * 2) solid var(--global-color-alpha-transparent); */
}

.c-custom-toggle:hover .c-custom-toggle__fake-input {
    border-color: var(--global-color-alpha-transparent);
    box-shadow: var(--global-input-boxShadow);
}

.c-custom-toggle:active .c-custom-toggle__fake-input,
.c-custom-toggle:focus .c-custom-toggle__fake-input {
    border-color: var(--global-color-alpha-transparent);
    border-width: calc(var(--global-borderWidth) * 2);
    box-shadow: var(--global-input-boxShadow);
}

.c-option--hidden:active + .c-custom-toggle .c-custom-toggle__fake-input::after {
    width: calc(var(--custom-toggle__symbol-size) * calc(1 + var(--custom-toggle__symbol-scaleFactor)));
}

.c-option--hidden:active:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
    width: calc(var(--custom-toggle__symbol-size) * calc(1 + var(--custom-toggle__symbol-scaleFactor)));
    transform: translateX(calc(var(--custom-toggle__symbol-endPos) - calc(var(--custom-toggle__symbol-size) * var(--custom-toggle__symbol-scaleFactor))));
}

@media (prefers-color-scheme: dark) {
    .c-custom-toggle {
        --custom-toggle-backgroundColor: var(--global-color-neutral-xxxx-dark);
        --custom-toggle__symbol-backgroundColor: var(--global-color-neutral-xxxx-light);
        --custom-toggle__symbol--enabled-backgroundColor: var(--global-color-alpha);
        --custom-toggle-borderColor: var(--global-color-neutral-xxxx-dark);
    }
}

.c-custom-select {
    display: block;
    position: relative;
}

.c-custom-select__input {
    cursor: pointer;
    font-size: 0.86rem;
    color: var(--color-neutral-xxx-dark);
    line-height: 1.2rem;
    padding: var(--global-whitespace-xs) var(--global-whitespace-xl) var(--global-whitespace-xs) var(--global-whitespace-sm);

    border-radius: var(--global-baseline);

    border: 1px solid var(--color-neutral-x-light);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.c-custom-select__symbol {
    position: absolute;

    top: 50%;
    right: var(--global-whitespace-sm);

    transform-origin: center;
    transform: translateY(-50%);

    fill: var(--color-neutral-light);
    width: calc(var(--global-baseline) * 2);
    height: calc(var(--global-baseline) * 2);

    pointer-events: none;
}

/*
.c-custom-select__input:focus + .c-custom-select__symbol {
    transform: translateY(-50%) rotate(90deg);
}
*/

/*
      Component: Label
      ---
      Class to put on all form labels
  */

.c-label {
    margin-bottom: 0;
    font-size: 1rem;
    padding-bottom: var(--global-whitespace-xs);
    line-height: calc(var(--global-baseline) * 2);
    color: var(--global-page-secondaryTextColor);

    cursor: pointer;
}

.c-label--option {
    padding-bottom: 0;
}

.c-label--search {
    padding: 0;
}

/*
      Component: Button
      ---
      Class to put on form buttons or
  */

.c-button {
    font-size: 1rem;
    font-weight: 700;
    border-radius: var(--global-borderRadius);
    border: var(--global-borderWidth) solid var(--global-color-alpha-dark);
    background-color: var(--global-color-alpha);
    color: #fff;
    padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
    line-height: calc(var(--global-baseline) * 3);
    width: 100%;
    outline: none;
    transition: all var(--global-transition-timing-alpha);

    cursor: pointer;
}

.c-button:hover {
    background-color: var(--global-color-alpha-light);
}

.c-button:focus {
    box-shadow: 0 0 0 3px var(--global-color-alpha-x-transparent);
}

.c-button:active {
    background-color: var(--global-color-alpha-dark);
    box-shadow: none;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: span
    ---
    Utility classes to define span
*/

/*
    x-as ( horizontaal )
*/

@media (min-width: 992px) {
    .u-x-span-6-bp3 {
        grid-column: span 6;
    }

    .u-x-span-4-bp3 {
        grid-column: span 4;
    }

    .u-x-span-8-bp3 {
        grid-column: span 8;
    }
}

/*
    y-as ( verticaal )
*/

@media (min-width: 992px) {
    .u-y-span-2-bp3 {
        grid-row: span 2;
    }
}

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--color-neutral);
}

.u-color-neutral-dark {
    color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: var(--global-whitespace-xs) !important;
}

.u-mb-sm {
    margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
    margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
    margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
    margin-bottom: var(--global-whitespace-xl) !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 0.8rem;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
